@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

:root {
  --light-primary: #6246ea;
  --light-secondary: #d1d1e9;
  --light-tertiary: #e45858;
  --light-white: #fffffe;
  --light-black: #2b2c34;
}

/* ========================GENERAL====================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
}

.container {
  background-color: #555;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;

  height: 100vh;
}

.nav {
  background-color: var(--light-primary);
  color: var(--light-white);
  grid-row-start: 1;
  grid-row-end: -1;

  width: 100%;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.header {
  background-color: var(--light-white);
}

.main {
  background-color: var(--light-secondary);
  overflow-y: scroll;
}

/* ======================NAVIGATION==================== */

.nav__logo {
  font-size: 3rem;
}

.nav__logo-text {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-size: 2rem;
  color: inherit;
  margin-left: 1rem;
  margin-bottom: 2rem;
  transition: all 0.3s;
}

.nav__link-icon {
  font-size: 2rem;
  cursor: pointer;
}

.nav__link-box:nth-of-type(7) .nav__link-icon {
  display: inline-block;
  margin-top: 5rem;
}

.nav__link::after {
  display: block;
  content: "";
  background-color: var(--light-white);
  height: 3px;
  width: 0%;
  transition: all 0.3s;
}

.nav__link:hover::after {
  width: 100%;
}

/* ======================HEADER======================= */
.my-avatar,
.avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.my-avatar--big {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

/* ======================MAIN====================== */
